<%- include('includes/head')%>
  <%- include('includes/nav')%>

    <div class="container-contato">
      <%- include('includes/messagens')%>
      <div class="row">

        <div class="col-lg-2"></div>

        <div class="formulario">

          <h1 class="title">Contato</h1>
          <p class="subTitle">Crie ou edite seus contatos.</p>

          
          
          <div class="user-details">
          <% if(user._id) { %>
          <form action="/contato/edit/<%= user._id%>" method="POST">
          <% } else { %> 
            <form action="/contato/register" method="POST">
          <% } %>   
            <input type="hidden" name="_csrf" value=<%= csrfToken%>>
            <div class="form-group">
              <label class="details">Nome</label>
              <input placeholder="Nome do Contato" value="<%= user.nome %>" type="text" class="form-control" name="nome">
            </div>
            <div class="form-group">
              <label class="details">Sobrenome</label>
              <input placeholder="Sobrenome do Contato" value="<%= user.sobrenome %>" type="text" class="form-control" name="sobrenome">
            </div>
            <div class="form-group">
              <label class="details">E-mail</label>
              <input placeholder="E-mail do Contato" value="<%=user.email%>" type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label  class="details">Tel</label>
              <input placeholder="Telefone do Contato" value="<%= user.telefone %>" type="tel" class="form-control" name="telefone">
            </div>
            <button type="submit" class="btnSalvar">Salvar</button>
          </form>
        </div>
         
        </div>

        <div class="col-lg-2"></div>

      </div>

    </div>

    <%- include('includes/footer')%>